<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Welcome Back! Log in to continue monitoring your everyday pain.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/update-user-account-page.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
    <link rel="shortcut icon" href="/images/Logo.svg" type="image/x-icon">
    <title>We are here to help you to remember your password, Dear!</title>
</head>

<body>
    <header class="header-container">
        <nav>
            <ul class="main-nav__items">
                <li>
                    <img class="logo" src="/images/Logo.svg" alt="logo">
                </li>
                <li>
                    <h1 id="brand-name-xnav">Debbie</h1>
                </li>
                <li>
                    <a class="close-link" href="/">X</a>
                </li>
            </ul>
            <div class="super_woman"><img src="/images/super_woman.svg" alt="super_woman_img"></div>
        </nav>
    </header>

    <div class="container">
        <% if(error && error.length > 0){ %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
        <% } %> <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
        <% } %>
    </div>

    <h2 id="heading">Let's help us find out your password!</h2>
    <div class="wrapper">
        <form id="form" action="/forget" method="POST">
            <div class="inputBox">
                <label for="email">Email</label>
                <input type="email" id="email" class="input_email" placeholder="Enter Your Email" name="email"
                    onchange="validation()" required />
                <span id="text"></span>
            </div>
            <p class="form-foot"><a href="/login" title="Log in">Wanna try again?Then, just sing in.</a></p>
            <input type="submit" value="Send Reset Mail" class="button" />
        </form>
    </div>
    <div class="heart">
        <img src="/images/like.svg" alt="heart icon" id="hearticon">
    </div>
    <div class="spacer2">
        <div class="end-text">Built with <img src="/images/like.svg" alt="heart-icon" class="icon-small"> by the
            coding coh
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/usersideValidation.js"></script>
</body>

</html>