<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Welcome Back! Log in to continue monitoring your everyday pain.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/update-user-account-page.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
    <link rel="shortcut icon" href="/images/Logo.svg" type="image/x-icon">
    <title>Welcome Back! Log in to continue monitoring your everyday pain.</title>
</head>

<body>
    <header class="header-container">
        <nav>
            <ul class="main-nav__items">
                <li>
                    <img class="logo" src="/images/Logo.svg" alt="logo">
                </li>
                <li>
                    <h1 id="brand-name-xnav">Debbie</h1>
                </li>
                <li>
                    <a class="close-link" href="./index.html">X</a>
                </li>
            </ul>
            <div class="super_woman"><img src="/images/super_woman.svg" alt="super_woman_img"></div>
        </nav>
    </header>

    <h2 id="heading">Managing pain can be hard. Talk to Debbie</h2>
    <div class="wrapper">
        <form id="form" action="#">
            <div class="inputBox_name">
                <label for="username">Username</label>
                <input disabled type="text" id="username" placeholder="Enter Your username" class="input_name" />
                <span id="text1"></span>
            </div>
            <div class="inputBox_password">
                <label for="password">Password</label>
                <input disabled type="password" name="" id="password" class="input_password"
                    placeholder="Enter Your Password" />
                <span id="text3"></span>
            </div>
            <input type="submit" value="Log In" class="button" onclick="validation1(),validation3(),save()" />
        </form>
    </div>
    <div class="heart">
        <img src="/images/like.svg" alt="heart icon" id="hearticon">
    </div>
    <div class="spacer2">
        <div class="end-text">Built with <img src="/images/like.svg" alt="heart-icon" class="icon-small"> by the
            coding cohort</div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/usersideValidation.js"></script>
    <script>
        edit();
    </script>
</body>

</html>