.top-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
}
.top-icons img {
  max-height: 64px;
}
#main-heading {
  /* margin-top: ; */
  font-size: 35px;
  margin-right: 40px;
}
* {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  /* height: 100vh; */
  /* background-image: linear-gradient(#d8d8d8 0%, #7b7fec 100%); */

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) -100%,
    rgba(123, 127, 236, 1) 100%
  );
  font-family: "Lato";
  color: #fff;
}
.img-container {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
#heading {
  text-align: center;
  font-weight: lighter;
  letter-spacing: 0.1em;
}
.save-button {
  color: white;
  padding: 10px 20px;
  margin-top: 30px;

  width: 210px;
  height: 57px;
  border-radius: 8px;
  border: 1px solid #34a1f3;
  background-color: #34a1f3;
}
.savebtn {
  text-align: center;
}
.save-button {
  font-size: 1.5em;
  background-color: #2b98ea;
  cursor: pointer;
}
.save-button:hover {
  background-color: blue;
}
#hearticon {
  color: #ad0ca5;
  height: 1.3em;
  margin-top: 60px;
  opacity: 50%;
}
#hearticonfooter {
  color: #ad0ca5;
  height: 1.3em;
  margin-top: 60px;
  opacity: 50%;
}
.heart {
  text-align: center;
}
#numbers {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
}

#logoimg {
  /* opacity: 60%; */
  margin-left: 30px;
}

#finger {
  transform: rotate(180deg);
  height: 30px;
  width: 30px;
}
.fingerimg {
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
}
#askpainlevel {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: lighter;
  letter-spacing: 0.1em;
  color: #fff;
}
.numberinput {
  border-top: 1px solid white;
  height: 150px;
  margin-top: 70px;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: top ease 0.5s;
}
#minus,
#plus {
  height: 40px;
  width: 40px;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 30px;
}
#number {
  font-size: 40px;
  color: #fff;
}
#minus {
  margin-right: 50px;
  animation: drop 1.5s ease;
}
#plus {
  margin-left: 50px;
  animation: drop 1.5s ease;
}

#plus:hover {
  transform: scale(1.2);
}
#minus:hover {
  transform: scale(1.2);
}
#footer {
  text-align: center;
  font-size: small;
  opacity: 50%;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (width: 667px) and (height: 375px) and (orientation: landscape) and (color: 8) and (device-aspect-ratio: 375/667) and (aspect-ratio: 667/375) and (device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 2) {
  #askpainlevel {
    max-width: 10px;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (width: 375px) and (height: 559px) and (orientation: portrait) and (color: 8) and (device-aspect-ratio: 375/667) and (aspect-ratio: 375/559) and (device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 2) {
  #askpainlevel {
    padding: 20px;
  }
}
