<div class="heart">
    <img src="./public/images/like.svg" alt="heart icon" id="hearticon">
</div>
<div class="spacer2">
    <div class="end-text">Built with <img src="./public/images/like.svg" alt="heart-icon" class="icon-small"> by the
        coding cohort</div>
</div>

<script src="./public/js/input-pain-level.js"></script>
</body>

</html>