.top-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
}
#logoimg {
  /* opacity: 60%; */

  margin-left: 30px;
}
#main-heading {
  /* margin-top: ; */
  font-size: 35px;
  margin-right: 15px;
}
.top-icons img {
  width: auto;
  height: 50px;
}
.img-container {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
#superwoman {
  width: 100%;
  height: auto;
}
* {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  width: 100%;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) -100%,
    rgba(123, 127, 236, 1) 100%
  );
  font-family: "Lato";
  color: #fff;
}

/* .logo {
  margin-left: 40px;
  transform: translate(0%, -170%);
  width: 70px;
  height: 70px;
} */

/* h1 {
  text-align: center;
  color: #fff;
  transform: translate(0%, -550%);
} */

h2 {
  text-align: center;
  color: #fff;
  /* transform: translate(0%, -350%); */
}
#updatetext {
  text-align: center;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1.4em;
}
.fingerimg {
  display: flex;
  justify-content: center;

  margin-top: 30px;
  margin-bottom: 40px;
}
#edittext {
  margin-left: 30px;
  font-size: 1.3em;
  cursor: pointer;
  background: transparent;
  color: white;
  border: none;
}
label {
  font-size: 20px;
  color: white;
  letter-spacing: 1px;
  display: flex;
  font-weight: 500;
}

.wrapper {
  text-align: center;
  margin: 0 auto;
  max-width: 350px;
  width: 100%;
  padding: 25px;
}

#form {
  position: relative;
}

form p,
input {
  width: 100%;
  border: #979797;
  background: white;
  padding: 10px;
  text-align: left;
  /* margin: 30px; */
  /* margin-right: 10px; */
  border-radius: 6px;
  color: black;
  /* font-style: 18px; */
}

/* .input_email {
  width: 300px;
  border: #979797;
  background: #d8d8d8;
  padding: 10px;
  border-radius: 6px;
  color: rgb(48, 42, 42);
  font-style: 18px;
}

.input_name {
  width: 300px;
  border: #979797;
  background: #d8d8d8;
  padding: 10px;
  border-radius: 6px;
  color: rgb(48, 42, 42);
  font-style: 18px;
}

.input_surname {
  width: 300px;
  border: #979797;
  background: #d8d8d8;
  padding: 10px;
  border-radius: 6px;
  color: rgb(48, 42, 42);
  font-style: 18px;
}

.input_password {
  width: 300px;
  border: #979797;
  background: #d8d8d8;
  padding: 10px;
  border-radius: 6px;
  color: rgb(48, 42, 42);
  font-style: 18px;
} */

#text,
#text1,
#text2,
#text3 {
  display: block;
  color: #000;
  font-weight: 300;
  font-style: italic;
  text-align: left;
  padding: 15px;
}

#form.invalid .inputBox::before {
  content: "";
  position: absolute;
  right: 45px;
  margin-top: 30px;
  width: 24px;
  height: 24px;
  background: url("invalid.png");
  background-size: cover;
  z-index: 1000;
}

#form.valid .inputBox::before {
  content: "";
  position: absolute;
  right: 45px;
  margin-top: 30px;
  width: 24px;
  height: 24px;
  background: url("valid.png");
  background-size: cover;
  z-index: 1000;
}

#form.invalid1 .inputBox_name::before {
  content: "";
  position: absolute;
  right: 13%;
  margin-top: 30px;
  width: 24px;
  height: 24px;
  background: url("invalid.png");
  background-size: cover;
  z-index: 1000;
}

#form.valid1 .inputBox_name::before {
  content: "";
  position: absolute;
  right: 13%;
  margin-top: 30px;
  width: 24px;
  height: 24px;
  background: url("valid.png");
  background-size: cover;
  z-index: 1000;
}

#form.invalid2 .inputBox_surname::before {
  content: "";
  position: absolute;
  right: 13%;
  margin-top: 30px;
  width: 24px;
  height: 24px;
  background: url("invalid.png");
  background-size: cover;
  z-index: 1000;
}

#form.valid2 .inputBox_surname::before {
  content: "";
  position: absolute;
  right: 13%;
  margin-top: 30px;
  width: 24px;
  height: 24px;
  background: url("valid.png");
  background-size: cover;
  z-index: 1000;
}

#form.invalid3 .inputBox_password::before {
  content: "";
  position: absolute;
  right: 13%;
  margin-top: 30px;
  width: 24px;
  height: 24px;
  background: url("invalid.png");
  background-size: cover;
  z-index: 1000;
}

#form.valid3 .inputBox_password::before {
  content: "";
  position: absolute;
  right: 13%;
  margin-top: 30px;
  width: 24px;
  height: 24px;
  background: url("valid.png");
  background-size: cover;
  z-index: 1000;
}

#form.mark .inputBox_name::before {
  content: "";
  position: absolute;
  right: 13%;
  margin-top: 30px;
  width: 24px;
  height: 24px;
  background: url("mark.png");
  background-size: cover;
  z-index: 1000;
}

#form.mark1 .inputBox::before {
  content: "";
  position: absolute;
  right: 45px;
  margin-top: 30px;
  width: 24px;
  height: 24px;
  background: url("mark.png");
  background-size: cover;
  z-index: 1000;
}

#form.mark2 .inputBox_surname::before {
  content: "";
  position: absolute;
  right: 13%;
  margin-top: 30px;
  width: 24px;
  height: 24px;
  background: url("mark.png");
  background-size: cover;
  z-index: 1000;
}

#form.mark3 .inputBox_password::before {
  content: "";
  position: absolute;
  right: 13%;
  margin-top: 30px;
  width: 24px;
  height: 24px;
  background: url("mark.png");
  background-size: cover;
  z-index: 1000;
}

.button {
  border: 1px solid#979797;
  width: 160px;
  height: auto;

  color: #fff;
  font-size: 15px;
  cursor: pointer;
  margin-top: 40px;

  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  background: #2b98ea;
}

.heart {
  text-align: center;
}
#hearticon {
  color: #ad0ca5;
  height: 1.3em;
  margin-top: 60px;
  opacity: 50%;
}
#hearticonfooter {
  color: #ad0ca5;
  height: 1.3em;
  margin-top: 60px;
  opacity: 50%;
}
#footer {
  text-align: center;
  font-size: small;
  opacity: 50%;
  margin-bottom: 60px;
}

.first {
  text-align: center;
  color: #fff;
  transform: translate(-6%, 410%);
}
.second {
  text-align: center;
  color: white;
  transform: translate(5%, -630%);
}

@media (max-width: 55em) {
  html {
    font-size: 80%;
  }
  #askpainlevel {
    padding: 20px;
  }

  .top-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 30px;
  }
  #main-heading {
    margin-right: -25px;
  }
  #heading {
    padding: 20px;
  }
  .savebtn {
    margin-top: 30px;
  }
  .save-button {
    padding: 10px 20px !important;
    margin-top: 30px;
    font-size: 1.5em;
  }
}

/* 980px / 16px = 61.25em */

@media (max-width: 61.25em) {
  html {
    font-size: 80%;
  }
  #askpainlevel {
    padding: 20px;
  }

  .top-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 30px;
  }
  #main-heading {
    margin-right: -25px;
  }
  #heading {
    padding: 20px;
  }
  .savebtn {
    margin-top: 30px;
  }
  .save-button {
    padding: 10px 20px !important;
    margin-top: 30px;
    font-size: 1.5em;
  }
}

@media (max-width: 35em) {
  html {
    font-size: 80%;
  }
  #askpainlevel {
    padding: 20px;
  }

  .top-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 30px;
  }
  #main-heading {
    margin-right: -30px;
  }
  #heading {
    padding: 20px;
  }
  .savebtn {
    margin-top: 30px;
  }
  .save-button {
    padding: 10px 20px !important;
    margin-top: 30px;
    font-size: 1.5em;
  }
}

@media (max-width: 28.75em) {
  html {
    font-size: 80%;
  }
  #askpainlevel {
    padding: 20px;
  }

  .top-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 30px;
  }
  #main-heading {
    margin-right: -20px;
  }
  #heading {
    padding: 20px;
  }
  .savebtn {
    margin-top: 30px;
  }
  .save-button {
    padding: 10px 20px !important;
    margin-top: 30px;
    font-size: 1.5em;
  }
}
