* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: lato;
  text-decoration: none;
}

body {
  text-align: center;
  min-height: 100vh;

  background-image: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 1) -100%,
    rgba(123, 127, 236, 1) 100%
  );
  font-family: "Lato";
  color: #fff;
}

main {
  padding: 0 16%;
}

.header-container {
  padding: 0 10%;
  margin: 3rem 0 1rem 0;
}

.main-nav__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.logo {
  height: 100px;
  width: 75px;
}

.brand-name {
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 0.01em;
}

button {
  background-color: #2b98ea;
  width: 150px;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.super_woman {
  padding-top: 30px;
  height: 300px;
  width: 200px;
}

.main-container {
  flex-direction: column;
}

.header-section__about {
  font-size: 1.7rem;
  padding: 0.8rem 2rem;
  line-height: 1.6;
  font-weight: 400;
}

.header-section__about-italic {
  font-style: italic;
}

.header-section button:first-of-type {
  margin: 2.5rem 0;
}

.sub-text {
  padding: 40px 20px 40px 20px;
  line-height: 1.4;
  text-align: center;
}

/******************** Info Section  ********************/

#info {
  margin: 3rem 0;
}

.info-header,
.about__header {
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
}

.links__icons {
  display: flex;
  justify-content: space-between;
  padding: 6rem 3rem;
}

.link__icon {
  width: 10%;
  max-width: 3.5rem;
  min-width: 2.6rem;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-row-gap: 5rem;
  grid-template-areas:
    ". occupy1"
    "occupy2 .";
}

.about img {
  width: 3.5rem;
}

.about__chat img {
  margin-right: 2rem;
}
.about__reminder img {
  margin-left: 2rem;
}

.about__chat,
.about__reminder {
  display: flex;
  align-items: flex-start;
}

.about__chat {
  grid-area: occupy1;
  text-align: left;
}

.about__reminder {
  grid-area: occupy2;
  text-align: right;
}

#sign-up {
  margin: 8rem auto;
}

.sign-up__button--big {
  width: 22rem;
  height: 5rem;
  background-color: #2b98ea;
}

.sign-up__button a {
  font: inherit;
  color: inherit;
}

/******************** Footer  ********************/

#authors {
  margin: 0 0 8rem 0;
}

#authors p {
  display: flex;
  align-items: center;
  justify-content: center;
}

#authors img {
  width: 2rem;
  margin: 0 0.5rem;
}

@media (max-width: 768px) {
  main {
    padding: 6%;
  }

  .sign-up__button--header, .main-nav__items li:last-of-type {
    display: none;
  }

  .logo {
    height: 50px;
    width: 35px;
  }

  .links__icons {
    padding: 6rem 0;
  }

  .about {
    display: block;
  }

  .about img {
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .about__chat,
  .about__reminder {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 5rem;
  }

  .about__reminder {
    flex-direction: column-reverse;
  }

  .sign-up__button--big {
    width: 15rem;
    height: 4rem;
    background-color: #2b98ea;
  }
}
