.save-button {
  border: 1px solid#979797;
  width: 160px;
  height: auto;
  color: #fff;
  font-size: 0.9375em;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  background: #2b98ea;
  margin-top: 30px;
}

.save-button:hover {
  background-color: blue;
}

#askpainlevel {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #fff;
}

.numberinput {
  border-top: 1px solid white;
  height: 150px;
  margin-top: 70px;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: top ease 0.5s;
}

#minus,
#plus {
  height: 40px;
  width: 40px;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 1.875em;
  cursor: pointer;
}

#number {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  background: #9699f3;
  text-align: center;
  font-size: 2.5em;
  color: #fff;
}

#minus {
  margin-right: 50px;
  animation: drop 1.5s ease;
}

#plus {
  margin-left: 50px;
  animation: drop 1.5s ease;
}

#plus:hover {
  transform: scale(1.2);
}

#minus:hover {
  transform: scale(1.2);
}

@media (max-width: 1196px) {
  html {
    font-size: 80%;
  }

  #askpainlevel {
    padding: 20px;
  }

  .savebtn {
    margin-top: 30px;
  }

  .save-button {
    padding: 10px 20px !important;
    margin-top: 30px;
    font-size: 1.5em;
  }

  .savebtn {
    margin-top: 60px;
  }
}

@media (max-width: 460px) {
  .savebtn {
    margin-top: 80px;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) and (hover: none) {
  html {
    font-size: 130%;
  }
  .savebtn {
    margin-top: 90px;
  }
  .save-button {
    padding: 20px 40px !important;
  }
}
