* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  min-height: 100vh;
  background-image: -webkit-linear-gradient(
    top,
    rgb(144, 126, 126) -100%,
    rgb(96, 101, 235) 100%
  );
  font-family: 'Lato';
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

p {
  font-size: 18px;
}

button {
  background-color: #4d6577;
  width: 150px;
  border: none;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

main {
  padding: 0 6%;
}

.header-container {
  padding: 3rem 10% 1rem 10%;
}

.main-nav__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.main-nav__items li:last-of-type {
  display: none;
}

.logo {
  height: 50px;
  width: 35px;
}

.brand-name {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 0.01em;
}

.super_woman {
  padding-top: 30px;
  height: 300px;
  width: 200px;
  margin: auto;
}

.super_woman img {
  width: 100%;
  object-fit: cover;
}

.header-section__about {
  font-size: 1.7rem;
  padding: 0.8rem 2rem;
  line-height: 1.6;
  font-weight: 400;
}

.header-section__about-italic {
  font-style: italic;
}

.header-section button:first-of-type {
  margin: 2.5rem 0;
}

.sub-text {
  padding: 40px 20px 40px 20px;
  line-height: 1.4;
}

/******************** Info Section  ********************/

#info {
  margin: 3rem 0;
}

.info-header,
.about__header {
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
}

.links__icons {
  display: flex;
  justify-content: space-between;
  padding: 6rem 0;
}

.link__icon {
  width: 10%;
  max-width: 3.5rem;
  min-width: 2.6rem;
}

.about {
  display: block;
}

.about img {
  margin-bottom: 2rem;
  width: 50px;
}

.about__chat,
.about__reminder {
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 5rem;
}

.about__reminder {
  display: flex;
  flex-direction: column-reverse;
}

#sign-up {
  margin: 8rem auto;
}

.sign-up__button--big {
  width: 15rem;
  height: 4rem;
}

.sign-up__button a {
  font: inherit;
}

/******************** Footer  ********************/

#authors {
  margin: 0 0 8rem 0;
}

#authors img {
  width: 2rem;
  margin: 0 0.5rem;
  vertical-align: middle;
}

@media screen and (min-width: 768px) {
  main {
    padding: 0px 16%;
  }

  .links__icons {
    padding: 6rem 3rem;
  }

  .sign-up__button--big {
    width: 22rem;
    height: 5rem;
  }
}

@media screen and (min-width: 1024px) {
  .main-nav__items {
    flex-direction: row;
    justify-content: space-between;
  }

  .main-nav__items li:last-of-type {
    display: inline-block;
  }

  .logo {
    height: 75px;
    width: 50px;
  }

  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 5rem;
    grid-template-areas:
      '. occupy1'
      'occupy2 .';
  }

  .about img {
    width: 3.5rem;
    margin: 0px 15px;
  }

  .about__chat,
  .about__reminder {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }

  .about__chat {
    grid-area: occupy1;
    text-align: left;
  }

  .about__reminder {
    grid-area: occupy2;
    text-align: right;
  }
}
