* {
    margin: 0;
    padding: 0;
}



body {
  text-align: center;
  height: 100vh;
  /* background-image: linear-gradient(#d8d8d8 0%, #7b7fec 100%); */

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) -100%,
    rgba(123, 127, 236, 1) 100%
  );
  font-family: "Lato";
  color: #fff
  
}

.image {
    height: 300px;
    width: 200px;

}

.logo {
  height: 150px;
  width: 100px;

}



@media screen {
  /* img {
      transform: translate(0%, -250%);
    }
    .wrapper {
      transform: translate(-50%, -100%);
    } */
}
