#edittext {
  margin-left: 30px;
  font-size: 1.3em;
  font-weight: 400;
  cursor: pointer;
  background: transparent;
  color: white;
  border: none;
}

label {
  font-size: 1.6em;
  color: white;
  letter-spacing: 1px;
  display: flex;
  font-weight: 500;
}

.form__container {
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  padding: 25px;
}

#form {
  position: relative;
  width: 60%;
  margin: auto;
}

form p,
input {
  width: 100%;
  margin-right: 13px;
  margin-top: 20px;
  border: #979797;
  border-radius: 4px;
  background: #eae7e7;
  padding: 20px 10px;
  text-align: left;
  color: black;
  font-size: 20px;
}

.form-signup {
  width: 40%;
  margin: auto;
  font-size: 0.8rem;
}

#text,
#text1,
#text2,
#text3 {
  display: block;
  color: #000;
  font-weight: 300;
  font-style: italic;
  text-align: left;
  padding: 15px;
}

#form.invalid .inputBox::before {
  content: "";
  position: absolute;
  right: 45px;
  margin-top: 70px;
  width: 24px;
  height: 24px;
  background: url("../images/invalid.png");
  background-size: cover;
  z-index: 1000;
}

#form.valid .inputBox::before {
  content: "";
  position: absolute;
  right: 45px;
  margin-top: 70px;
  width: 24px;
  height: 24px;
  background: url("../images/valid.png");
  background-size: cover;
  z-index: 1000;
}

#form.mark1 .inputBox::before {
  content: "";
  position: absolute;
  right: 45px;
  margin-top: 70px;
  width: 24px;
  height: 24px;
  background: url("../images/mark.png");
  background-size: cover;
  z-index: 1000;
}

#form.invalid1 .inputBox_name::before {
  content: "";
  position: absolute;
  right: 13%;
  margin-top: 70px;
  width: 24px;
  height: 24px;
  background: url("../images/invalid.png");
  background-size: cover;
  z-index: 1000;
}

#form.valid1 .inputBox_name::before {
  content: "";
  position: absolute;
  right: 13%;
  margin-top: 70px;
  width: 24px;
  height: 24px;
  background: url("../images/valid.png");
  background-size: cover;
  z-index: 1000;
}
#form.mark .inputBox_name::before {
  content: "";
  position: absolute;
  right: 13%;
  margin-top: 70px;
  width: 24px;
  height: 24px;
  background: url("../images/mark.png");
  background-size: cover;
  z-index: 1000;
}

#form.invalid2 .inputBox_surname::before {
  content: "";
  position: absolute;
  right: 13%;
  margin-top: 70px;
  width: 24px;
  height: 24px;
  background: url("../images/invalid.png");
  background-size: cover;
  z-index: 1000;
}

#form.valid2 .inputBox_surname::before {
  content: "";
  position: absolute;
  right: 13%;
  margin-top: 70px;
  width: 24px;
  height: 24px;
  background: url("../images/valid.png");
  background-size: cover;
  z-index: 1000;
}
#form.mark2 .inputBox_surname::before {
  content: "";
  position: absolute;
  right: 13%;
  margin-top: 70px;
  width: 24px;
  height: 24px;
  background: url("../images/mark.png");
  background-size: cover;
  z-index: 1000;
}

#form.invalid3 .inputBox_password::before {
  content: "";
  position: absolute;
  right: 13%;
  margin-top: 70px;
  width: 24px;
  height: 24px;
  background: url("../images/invalid.png");
  background-size: cover;
  z-index: 1000;
}

#form.valid3 .inputBox_password::before {
  content: "";
  position: absolute;
  right: 13%;
  margin-top: 70px;
  width: 24px;
  height: 24px;
  background: url("../images/valid.png");
  background-size: cover;
  z-index: 1000;
}
#form.mark3 .inputBox_password::before {
  content: "";
  position: absolute;
  right: 13%;
  margin-top: 70px;
  width: 24px;
  height: 24px;
  background: url("../images/mark.png");
  background-size: cover;
  z-index: 1000;
}

.button {
  width: 160px;
  height: auto;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(to top, #5258f6 0%, #989dfb 80%, #b5b8f3 100%);
  padding: 10px;
}

.button-reset {
  width: 180px;
}

.heart {
  padding-top: 4rem;
  padding-bottom: 2rem;
}

#hearticon {
  text-align: center;
  height: 20px;
  width: 20px;
  opacity: 0.5;
}

.form-foot {
  display: flex;
  justify-content: space-evenly;
}

.form-foot a {
  color: rgb(5, 18, 195);
}

@media screen and (max-width: 768px) {
  .logo {
    height: 50px;
    width: 35px;
  }

  .icon {
    width: 20px;
    height: 20px;
  }

  .sign-up__button {
    width: 180px;
    height: 3rem;
    background: linear-gradient(to top, #5258f6 0%, #989dfb 80%, #b5b8f3 100%);
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    padding: 10px;
  }
}
@media screen and (min-width: 768px) {
  main {
    padding: 0px 16%;
  }

  .links__icons {
    padding: 6rem 3rem;
  }

  .sign-up__button--big {
    width: 180px;
    height: 3rem;
    background: linear-gradient(to top, #5258f6 0%, #989dfb 80%, #b5b8f3 100%);
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    margin: auto;
  }
}

@media screen and (max-width: 320px) {
  form p,
  input {
    font-size: 16px;
  }
}
