* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) -100%,
    rgba(123, 127, 236, 1) 100%
  );
  font-family: 'Lato';
  color: #fff;
}

h2 {
  text-align: center;
  color: #fff;
}

.top-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
  width: 100%;
}
.top-icons img {
  width: auto;
  height: 50px;
}
#logoimg {
  margin-left: 30px;
}
#main-heading {
  font-size: 2.18em;
  margin-right: 15px;
}
#heading {
  text-align: center;
  font-weight: 200;
  letter-spacing: 0.1em;
  width: 70%;
  margin: auto;
}
.img-container {
  width: 100px;
  margin: 10px auto;
}

.fingerimg {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#edittext {
  margin-left: 30px;
  font-size: 1.3em;
  cursor: pointer;
  background: transparent;
  color: white;
  border: none;
}
label {
  font-size: 1.6em;
  color: white;
  letter-spacing: 1px;
  display: flex;
  font-weight: 500;
}

.wrapper {
  text-align: center;
  margin: 0 auto;
  max-width: 350px;
  width: 100%;
  padding: 25px;
}

#form {
  position: relative;
}

form p,
input {
  width: 100%;
  margin-right: 13px;
  margin-top: 10px;
  border: #979797;
  background: #eae7e7;
  padding: 15px 10px;
  text-align: left;
  color: black;
  font-size: 20px;
}

#text,
#text1,
#text2,
#text3 {
  display: block;
  color: #000;
  font-weight: 300;
  font-style: italic;
  text-align: left;
  padding: 15px;
}

#form.invalid .inputBox::before {
  content: '';
  position: absolute;
  right: 45px;
  margin-top: 50px;
  width: 24px;
  height: 24px;
  background: url('../images/invalid.png');
  background-size: cover;
  z-index: 1000;
}

#form.valid .inputBox::before {
  content: '';
  position: absolute;
  right: 45px;
  margin-top: 50px;
  width: 24px;
  height: 24px;
  background: url('../images/valid.png');
  background-size: cover;
  z-index: 1000;
}
#form.mark1 .inputBox::before {
  content: '';
  position: absolute;
  right: 45px;
  margin-top: 50px;
  width: 24px;
  height: 24px;
  background: url('../images/mark.png');
  background-size: cover;
  z-index: 1000;
}

#form.invalid1 .inputBox_name::before {
  content: '';
  position: absolute;
  right: 13%;
  margin-top: 50px;
  width: 24px;
  height: 24px;
  background: url('../images/invalid.png');
  background-size: cover;
  z-index: 1000;
}

#form.valid1 .inputBox_name::before {
  content: '';
  position: absolute;
  right: 13%;
  margin-top: 50px;
  width: 24px;
  height: 24px;
  background: url('../images/valid.png');
  background-size: cover;
  z-index: 1000;
}
#form.mark .inputBox_name::before {
  content: '';
  position: absolute;
  right: 13%;
  margin-top: 50px;
  width: 24px;
  height: 24px;
  background: url('../images/mark.png');
  background-size: cover;
  z-index: 1000;
}

#form.invalid2 .inputBox_surname::before {
  content: '';
  position: absolute;
  right: 13%;
  margin-top: 50px;
  width: 24px;
  height: 24px;
  background: url('../images/invalid.png');
  background-size: cover;
  z-index: 1000;
}

#form.valid2 .inputBox_surname::before {
  content: '';
  position: absolute;
  right: 13%;
  margin-top: 50px;
  width: 24px;
  height: 24px;
  background: url('../images/valid.png');
  background-size: cover;
  z-index: 1000;
}
#form.mark2 .inputBox_surname::before {
  content: '';
  position: absolute;
  right: 13%;
  margin-top: 50px;
  width: 24px;
  height: 24px;
  background: url('../images/mark.png');
  background-size: cover;
  z-index: 1000;
}

#form.invalid3 .inputBox_password::before {
  content: '';
  position: absolute;
  right: 13%;
  margin-top: 50px;
  width: 24px;
  height: 24px;
  background: url('../images/invalid.png');
  background-size: cover;
  z-index: 1000;
}

#form.valid3 .inputBox_password::before {
  content: '';
  position: absolute;
  right: 13%;
  margin-top: 50px;
  width: 24px;
  height: 24px;
  background: url('../images/valid.png');
  background-size: cover;
  z-index: 1000;
}
#form.mark3 .inputBox_password::before {
  content: '';
  position: absolute;
  right: 13%;
  margin-top: 50px;
  width: 24px;
  height: 24px;
  background: url('../images/mark.png');
  background-size: cover;
  z-index: 1000;
}

.button {
  border: 1px solid#979797;
  width: 160px;
  height: auto;
  color: #fff;
  font-size: 0.9375em;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  background: #2b98ea;
}

.heart {
  text-align: center;
}
#hearticon {
  color: #ad0ca5;
  height: 1.3em;
  opacity: 50%;
}
#hearticonfooter {
  color: #ad0ca5;
  height: 1.3em;
  margin-top: 60px;
  opacity: 50%;
}
#footer {
  text-align: center;
  font-size: 0.8em;
  opacity: 50%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.first {
  text-align: center;
  color: #fff;
  transform: translate(-6%, 410%);
}
.second {
  text-align: center;
  color: white;
  transform: translate(5%, -630%);
}

@media (max-width: 55em) {
  #askpainlevel {
    padding: 20px;
  }

  .top-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 30px;
  }
  #main-heading {
    margin-right: -25px;
  }
  .savebtn {
    margin-top: 30px;
  }
  .save-button {
    padding: 10px 20px !important;
    margin-top: 30px;
    font-size: 1.5em;
  }
}

/* 980px / 16px = 61.25em */

@media (max-width: 61.25em) {
  #askpainlevel {
    padding: 20px;
  }

  .top-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 30px;
  }
  #main-heading {
    margin-right: -25px;
  }
  .savebtn {
    margin-top: 30px;
  }
  .save-button {
    padding: 10px 20px !important;
    margin-top: 30px;
    font-size: 1.5em;
  }
}
@media (max-width: 74.75em) {
  html {
    font-size: 80%;
  }
  body {
    height: 100%;
  }
  #askpainlevel {
    padding: 20px;
  }

  .top-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 30px;
  }
  #main-heading {
    margin-right: -25px;
  }

  .save-button {
    padding: 10px 20px !important;
    margin-top: 30px;
    font-size: 1.5em;
  }
  .savebtn {
    margin-top: 60px;
  }
  .save-button {
    padding: 10px 20px !important;
    margin-top: 30px;
    font-size: 1.5em;
  }
  #footer {
    margin-top: 50px;
    margin-bottom: 30px;
  }
}

@media (max-width: 35em) {
  html {
    font-size: 80%;
  }
  #askpainlevel {
    padding: 20px;
  }

  .top-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 30px;
  }
  #main-heading {
    margin-right: -30px;
  }
  .save-button {
    padding: 10px 20px !important;
    margin-top: 30px;
    font-size: 1.5em;
  }
  .savebtn {
    margin-top: 60px;
  }
  .save-button {
    padding: 10px 20px !important;
    margin-top: 30px;
    font-size: 1.5em;
  }
  #footer {
    margin-top: 10px;
    margin-bottom: 30px;
  }
}

@media (max-width: 28.75em) {
  html {
    font-size: 80%;
  }
  #askpainlevel {
    padding: 20px;
  }

  .top-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 30px;
  }
  #main-heading {
    margin-right: -20px;
  }
  .savebtn {
    margin-top: 80px;
  }
  .save-button {
    padding: 10px 20px !important;
    margin-top: 30px;
    font-size: 1.5em;
  }
  #footer {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) and (hover: none) {
  /* ... */
  html {
    font-size: 130%;
  }
  #askpainlevel {
    padding: 20px;
  }

  .top-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 30px;
  }
  #main-heading {
    margin-right: -25px;
  }

  .save-button {
    padding: 10px 20px !important;
    margin-top: 30px;
    font-size: 1.5em;
  }
  .savebtn {
    margin-top: 90px;
  }
  #footer {
    margin-top: 60px;
  }
  .save-button {
    padding: 20px 40px !important;
  }
  #hearticon {
    color: #ad0ca5;
    height: 1.3em;
    margin-top: 100px;
    opacity: 50%;
  }
}

@media screen and (min-height: 850px) {
  body {
    height: 100vh;
  }
}
