<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Update your account to monitor your pain level."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/update-user-account-page.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,200;0,400;0,700;1,300;1,200;1,400&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="/images/Logo.svg" type="image/x-icon" />
    <title>Update Your Account</title>
  </head>

  <body>
    <header class="header-container">
      <nav>
        <ul class="main-nav__items">
          <li>
            <img class="logo" src="/images/Logo.svg" alt="logo" />
          </li>
          <li>
            <h1 id="brand-name-xnav">Debbie</h1>
          </li>
          <li>
            <a class="close-link" href="/">X</a>
          </li>
        </ul>
        <div class="super_woman">
          <img src="/images/super_woman.svg" alt="super_woman_img" />
        </div>
      </nav>
    </header>

    <h2 id="heading-signup">Update your account details below</h2>
    <div class="fingerimg">
      &#128073;
      <button id="edittext" onclick="edit()">Edit >></button>
    </div>

    <div class="wrapper">
      <form id="form" action="/update?_method=put" method="POST">
        <div class="inputBox_name">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            placeholder="Enter Your Name"
            class="input_name"
            name="username"
            onchange="validation1()"
            value="<%= user.username %>"
          />
          <span id="text1"></span>
        </div>
        <div class="inputBox_surname">
          <label for="surname">Surname</label>
          <input
            type="text"
            id="surname"
            class="input_surname"
            placeholder="Enter Your Surname"
            name="surname"
            onchange="validation2()"
            value="<%= user.surname %>"
          />
          <span id="text2"></span>
        </div>
        <div class="inputBox">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            class="input_email"
            placeholder="Enter Your Email"
            name="email"
            onchange="validation()"
            value="<%= user.email %>"
          />
          <span id="text"></span>
        </div>
        <div class="inputBox_password">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            class="input_password"
            placeholder="Enter Your Password"
            name="password"
            onchange="validation3()"
            value="<%= user.password %>"
          />
          <span id="text3"></span>
        </div>
        <input
          type="submit"
          value="Update"
          class="sign-up__button sign-up__button--big"
        />
      </form>
    </div>

    <div class="heart">
      <img src="/images/like.svg" alt="heart icon" id="hearticon" />
    </div>
    <div class="spacer2">
      <div class="end-text">
        Built with
        <img src="/images/like.svg" alt="heart-icon" class="icon-small" /> by
        the coding cohort
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/usersideValidation.js"></script>
  </body>
</html>
